<!-- About -->
<section id="about" class="flex flex-col gap-5 lg:px-40">
  <h2 class="text-3xl sm:text-5xl font-semibold lg:text-6xl">About myself</h2>
  <p class="text-xl sm:text-2xl">
    I'm currently studying Diploma in Information Technology in
    <a href="https://tarc.edu.my" target="_blank" rel="noopener noreferrer" class="text-sky-500">Tunku Abdul Rahman University of Management and Technology Main Campus (TARUMT KL)</a>.
    I'm looking for oppurtunities to participate in web development field.
  </p>
</section>
