<!-- Languages -->
<section id="languages" class="flex flex-col gap-5 lg:px-40">
  <h2 class="text-3xl sm:text-5xl font-semibold lg:text-6xl">Languages</h2>
  <small class="text-sm">
    <i>
      On the scale of 1 to 10.
    </i>
  </small>

  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase dark:text-gray-400">
        <tr>
          <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
            Languages
          </th>
          <th scope="col" class="px-6 py-3">
            Writting
          </th>
          <th scope="col" class="px-6 py-3">
            Speaking
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="border-b border-gray-200 dark:border-gray-700">
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
            English
          </th>
          <td class="px-6 py-4">
            8
          </td>
          <td class="px-6 py-4">
            10
          </td>
        </tr>
        <tr class="border-b border-gray-200 dark:border-gray-700">
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
            Mandarin
          </th>
          <td class="px-6 py-4">
            6
          </td>
          <td class="px-6 py-4">
            8
          </td>
        </tr>
        <tr class="border-b border-gray-200 dark:border-gray-700">
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
            Malay
          </th>
          <td class="px-6 py-4">
            8
          </td>
          <td class="px-6 py-4">
            9
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
