<!-- Showcases -->
<section id="showcases" class="flex flex-col gap-5 lg:px-40">
  <h2 class="text-3xl font-semibold sm:text-5xl lg:text-6xl">Showcases</h2>

  <component-showcase
    organisationName="Google Developer Student Club"
    organisationSubName="Malaysia"
    organisationEventName="Kitahack 2023 Website"
    logoFileName="gdsc_logo.png"
    logoAltName="GDSC Logo"
    showcaseUrl="https://google-developer-student-club-malaysia.github.io/kitahack2023/"
  ></component-showcase>

  <component-showcase
    organisationName="Google Developer Student Club"
    organisationSubName="Tunku Abdul Rahman University of Management and Technology"
    organisationEventName="ASP.NET Core OpenID Website"
    notice="Due to the website security reason, this website will not work. Please open this website in another tab to try it out. Thanks!"
    logoFileName="gdsc_logo.png"
    logoAltName="GDSC Logo"
    showcaseUrl="https://gdsctarumt-openid.azurewebsites.net"
    class="mt-10"
  ></component-showcase>

  <component-showcase
    organisationName="Google Developer Student Club"
    organisationSubName="Tunku Abdul Rahman University of Management and Technology"
    organisationEventName="ASP.NET Core Simple B2C Ecommerce Demo Website"
    notice="Due to the website security reason, this website might or will not work. Please open this website in another tab to try it out. Thanks!"
    logoFileName="gdsc_logo.png"
    logoAltName="GDSC Logo"
    showcaseUrl="https://icy-flower-09eb00c00.2.azurestaticapps.net/"
    class="mt-10"
  ></component-showcase>
</section>
