<!-- Technical Skills -->
<section id="technical_skills" class="flex flex-col gap-5 lg:px-40">
  <h2 class="text-3xl font-semibold sm:text-5xl lg:text-6xl">
    Technical Skills
  </h2>
  <small class="text-sm">
    <i> On the scale of 1 to 10. </i>
  </small>

  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-left text-sm text-gray-500 dark:text-gray-400">
      <thead class="text-xs uppercase text-gray-700 dark:text-gray-400">
        <tr>
          <th scope="col" class="bg-gray-50 px-6 py-3 dark:bg-gray-800">
            Skills
          </th>
          <th scope="col" class="px-6 py-3">Level</th>
        </tr>
      </thead>
      <tbody>
        <tr class="border-b border-gray-200 dark:border-gray-700">
          <th
            scope="row"
            class="w-[400px] bg-gray-50 px-6 py-4 font-medium text-gray-900 dark:bg-gray-800 dark:text-white"
          >
            C#
          </th>
          <td class="px-6 py-4">10</td>
        </tr>
        <tr class="border-b border-gray-200 dark:border-gray-700">
          <th
            scope="row"
            class="w-[400px] bg-gray-50 px-6 py-4 font-medium text-gray-900 dark:bg-gray-800 dark:text-white"
          >
            [C#] ASP.NET Core MVC / Web API
          </th>
          <td class="px-6 py-4">10</td>
        </tr>
        <tr class="border-b border-gray-200 dark:border-gray-700">
          <th
            scope="row"
            class="w-[400px] bg-gray-50 px-6 py-4 font-medium text-gray-900 dark:bg-gray-800 dark:text-white"
          >
            Python
          </th>
          <td class="px-6 py-4">8</td>
        </tr>
        <tr class="border-b border-gray-200 dark:border-gray-700">
          <th
            scope="row"
            class="w-[400px] bg-gray-50 px-6 py-4 font-medium text-gray-900 dark:bg-gray-800 dark:text-white"
          >
            [Python] Django
          </th>
          <td class="px-6 py-4">10</td>
        </tr>
        <tr class="border-b border-gray-200 dark:border-gray-700">
          <th
            scope="row"
            class="w-[400px] bg-gray-50 px-6 py-4 font-medium text-gray-900 dark:bg-gray-800 dark:text-white"
          >
            [Python] Flask
          </th>
          <td class="px-6 py-4">10</td>
        </tr>
        <tr class="border-b border-gray-200 dark:border-gray-700">
          <th
            scope="row"
            class="w-[400px] bg-gray-50 px-6 py-4 font-medium text-gray-900 dark:bg-gray-800 dark:text-white"
          >
            [Python] FastAPI
          </th>
          <td class="px-6 py-4">10</td>
        </tr>
        <tr class="border-b border-gray-200 dark:border-gray-700">
          <th
            scope="row"
            class="w-[400px] bg-gray-50 px-6 py-4 font-medium text-gray-900 dark:bg-gray-800 dark:text-white"
          >
            PHP
          </th>
          <td class="px-6 py-4">10</td>
        </tr>
        <tr class="border-b border-gray-200 dark:border-gray-700">
          <th
            scope="row"
            class="w-[400px] bg-gray-50 px-6 py-4 font-medium text-gray-900 dark:bg-gray-800 dark:text-white"
          >
            SQL
          </th>
          <td class="px-6 py-4">10</td>
        </tr>
        <tr class="border-b border-gray-200 dark:border-gray-700">
          <th
            scope="row"
            class="w-[400px] bg-gray-50 px-6 py-4 font-medium text-gray-900 dark:bg-gray-800 dark:text-white"
          >
            HTML
          </th>
          <td class="px-6 py-4">10</td>
        </tr>
        <tr class="border-b border-gray-200 dark:border-gray-700">
          <th
            scope="row"
            class="w-[400px] bg-gray-50 px-6 py-4 font-medium text-gray-900 dark:bg-gray-800 dark:text-white"
          >
            CSS
          </th>
          <td class="px-6 py-4">8</td>
        </tr>
        <tr class="border-b border-gray-200 dark:border-gray-700">
          <th
            scope="row"
            class="w-[400px] bg-gray-50 px-6 py-4 font-medium text-gray-900 dark:bg-gray-800 dark:text-white"
          >
            Javascript / Typescript
          </th>
          <td class="px-6 py-4">10</td>
        </tr>
        <tr class="border-b border-gray-200 dark:border-gray-700">
          <th
            scope="row"
            class="w-[400px] bg-gray-50 px-6 py-4 font-medium text-gray-900 dark:bg-gray-800 dark:text-white"
          >
            [Javascript] NodeJS
          </th>
          <td class="px-6 py-4">6</td>
        </tr>
        <tr class="border-b border-gray-200 dark:border-gray-700">
          <th
            scope="row"
            class="w-[400px] bg-gray-50 px-6 py-4 font-medium text-gray-900 dark:bg-gray-800 dark:text-white"
          >
            [Typescript] Angular
          </th>
          <td class="px-6 py-4">8</td>
        </tr>
        <tr class="border-b border-gray-200 dark:border-gray-700">
          <th
            scope="row"
            class="w-[400px] bg-gray-50 px-6 py-4 font-medium text-gray-900 dark:bg-gray-800 dark:text-white"
          >
            [NodeJS] / [CDN] Tailwindcss
          </th>
          <td class="px-6 py-4">8</td>
        </tr>
        <tr class="border-b border-gray-200 dark:border-gray-700">
          <th
            scope="row"
            class="w-[400px] bg-gray-50 px-6 py-4 font-medium text-gray-900 dark:bg-gray-800 dark:text-white"
          >
            [Windows] / [Linux] / [MacOS] Git / GitHub
          </th>
          <td class="px-6 py-4">10</td>
        </tr>
        <tr class="border-b border-gray-200 dark:border-gray-700">
          <th
            scope="row"
            class="w-[400px] bg-gray-50 px-6 py-4 font-medium text-gray-900 dark:bg-gray-800 dark:text-white"
          >
            Linux (Ubuntu)
          </th>
          <td class="px-6 py-4">6</td>
        </tr>
        <tr class="border-b border-gray-200 dark:border-gray-700">
          <th
            scope="row"
            class="w-[400px] bg-gray-50 px-6 py-4 font-medium text-gray-900 dark:bg-gray-800 dark:text-white"
          >
            Google Cloud Platform
          </th>
          <td class="px-6 py-4">6</td>
        </tr>
        <tr class="border-b border-gray-200 dark:border-gray-700">
          <th
            scope="row"
            class="w-[400px] bg-gray-50 px-6 py-4 font-medium text-gray-900 dark:bg-gray-800 dark:text-white"
          >
            Azure
          </th>
          <td class="px-6 py-4">9</td>
        </tr>
        <tr class="border-b border-gray-200 dark:border-gray-700">
          <th
            scope="row"
            class="w-[400px] bg-gray-50 px-6 py-4 font-medium text-gray-900 dark:bg-gray-800 dark:text-white"
          >
            DigitalOcean
          </th>
          <td class="px-6 py-4">10</td>
        </tr>
        <tr class="border-b border-gray-200 dark:border-gray-700">
          <th
            scope="row"
            class="w-[400px] bg-gray-50 px-6 py-4 font-medium text-gray-900 dark:bg-gray-800 dark:text-white"
          >
            Shinjiru
          </th>
          <td class="px-6 py-4">10</td>
        </tr>
        <tr class="border-b border-gray-200 dark:border-gray-700">
          <th
            scope="row"
            class="w-[400px] bg-gray-50 px-6 py-4 font-medium text-gray-900 dark:bg-gray-800 dark:text-white"
          >
            VMWare
          </th>
          <td class="px-6 py-4">10</td>
        </tr>
        <tr class="border-b border-gray-200 dark:border-gray-700">
          <th
            scope="row"
            class="w-[400px] bg-gray-50 px-6 py-4 font-medium text-gray-900 dark:bg-gray-800 dark:text-white"
          >
            VirtualBox
          </th>
          <td class="px-6 py-4">10</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
